<div class="row container-fluid">
  <div class="col">


    <div class="login-form">
      <h1>Login</h1>
      <div class="row">

        <div class="col">
          <img src="https://github.com/CarlosManuel02.png" alt="">
        </div>

        <div class="col">
          <form nz-form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="email" placeholder="Username"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <label nz-checkbox formControlName="remember">Remember me</label>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <button nz-button
                        nzType="primary"
                        nzSize="large" nzBlock
                        [nzLoading]="loading"
                        type="submit"
                        [disabled]="!loginForm.valid"
                >Login
                </button>
              </nz-form-control>
            </nz-form-item>

            <a href="#">Forgot your password?</a>

          </form>
        </div>

      </div>

      <p>Don't have an account? <a routerLink="../register">Register</a></p>
    </div>

  </div>

</div>
