<div class="main">
    <h1>ToDo</h1>
    <label for="addTodoInput">What would you like to do today?</label><br>
    <input
        #newTodo
        (keyup.enter)="addTodo(newTodo.value); newTodo.value = ''"
        class="lg-text-input"
        id="addTodoInput"
        placeholder="add a task"/>
    <button (click)="addTodo(newTodo.value)" class="btn-primary">Add</button>

    <div class="todo">
        <ul *ngIf="todos.length !== 0;">
            <label *ngFor="let todo of todos">
                <input
                    (click)="toggleDone(todo)"
                    class="checkbox"
                    type="checkbox"/> {{todo.description | titlecase}}
            </label>
        </ul>
        <button (click)="clearCompleted()" *ngIf="todos.length !== 0;" class="btn-primary">Clear Completed</button>
    </div>
</div>
